@charset "UTF-8";

/*Mobile view*/

* {
    margin: 0 auto;
    padding: 0;
    font-family: Georgia;
    font-size: 16px;
}

.TopBar {
    width: 100%;
    height: 11vh;
    background-color: #3f3f3f;
    padding-top: 0.5rem;
}

.TopBar .btn {
    width: 50px;
    height: 38px;
    background-color: #262626;
    border-radius: 7px;
    margin-left: 1.5rem;
    padding-top: .6rem;
    display: inline-block;
}

.TopBar .btn .lines {
    width: 80%;
    height: 3px;
    background-color: #ffffff;
    margin-bottom: .5rem;
}

.TopBar nav {
    display: none;
}

.socialIcons {
    display: inline-block;
    float: right;
    margin-right: .8rem;
}

.socialIcons ul {
    list-style-type: none;
}

.socialIcons ul li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #252525;
    text-align: center;
    padding: .3rem;
}

.socialIcons ul li a {
    text-decoration: none;
    color: #ffffff;
    line-height: 30px;
}

.socialIcons ul li:hover {
    background-color: #ee802f;
}

header {
    width: 100%;
    background-color: #252525;
    padding-top: .3rem;
    border-bottom: 10px solid #ff9900;
}

.headerLine {
    width: 100%;
    height: 3px;
    background-color: #303030;
}

header h1 {
    font-size: 2.875rem;
    font-weight: normal;
    font-variant: small-caps;
    color: #ffffff;
    padding: 1.813rem 0;
    text-align: center;
}

header form {
    text-align: center;
}

header form .searchWeb {
    width: 80%;
    height: 2.5rem;
    display: block;
    background-color: #363636;
    border: none;
    color: #ffffff;
    outline: none;
    padding-left: 10px;
    margin-bottom: .5rem;
}

header form .searchBtn {
    padding: .5rem;
    width: 82%;
    outline: none;
    background-color: #ff9900;
    border: none;
    color: #ffffff;
    font-size: 1rem;
}

main {
    background-color: #e1e1e1;
    padding: 0px 15px;
}

.white {
    background-color: #ffffff;
}

.Breadcrumb {
    color: #999999;
    background-color: #f0f0f0;
    padding: 15px;
}

.Breadcrumb a {
    color: #ff9900;
    text-decoration: none;
}

.Breadcrumb ul {
    list-style-type: none;
}

.Breadcrumb ul li {
    display: inline-block;
}

.right figure img,
.Latest figure img {
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 0.25rem;
    display: block;
}

.Shout h2 {
    color: #dddddd;
    font-size: 66px;
    text-align: center;
    font-variant: small-caps;
    font-weight: normal;
    padding: 1rem;
}

h2 {
    color: #dddddd;
    font-size: 28px;
    text-align: center;
    padding: 1.5rem;
}

.Shout p {
    color: #989898;
    font-size: 28px;
    text-align: center;
    padding: 1.5rem;
}

.left h2 {
    color: #666666;
    font-size: 22px;
    text-align: center;
    padding: 1.5rem;
}

.left h3 {
    color: #333333;
    font-size: 16px;
    text-align: center;
}

.left p {
    color: #999999;
    font-size: 13px;
    text-align: center;
    padding: 0.5rem;
    padding-bottom: 4rem;
}

.right h2 {
    color: #666666;
    font-size: 22px;
    text-align: center;
}

.right h3 {
    color: #333333;
    font-size: 16px;
    text-align: center;
}

.right p {
    color: #999999;
    font-size: 13px;
    text-align: center;
    padding: 0.5rem;
}

.right figure {
    padding: 1rem 0;
}

.Latest h2 {
    color: #666666;
    font-size: 22px;
    text-align: center;
}

.Latest p {
    color: #999999;
    font-size: 13px;
    text-align: center;
    padding: 0.5rem;
}

.Latest a {
    color: #ff9900;
    font-size: 13px;
    text-decoration: none;
    text-align: center;
}

.Latest figure figcaption a {
    display: block;
}

.Latest figure {
    padding: 1rem 0;
}

.twitterSection p {
    color: #999999;
    font-size: 18px;
    padding: 1rem;
}

footer {
    background-color: #252525;
    padding-bottom: 0.5rem;
}

footer h2 {
    color: #666666;
    font-size: 13px;
    text-align: center;
    padding: 1rem 0;
}

footer ul li address strong,
footer ul li address,
footer ul li address a {
    color: #868686;
    font-size: 12px;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    padding: 1rem 0;
}

footer ul li h3 {
    color: #868686;
    font-size: 13px;
    text-align: center;
    padding: 1rem 0;
}

footer ul li p {
    color: #868686;
    font-size: 11px;
    text-align: center;
    padding: 1rem 0.5rem;
}

footer ul li .first {
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid #333333;
    text-decoration: none;
    color: #ff9900;
    font-size: 12px;
    text-align: center;
}

footer ul li .sec {
    text-decoration: none;
    color: #ff9900;
    font-size: 12px;
    text-align: center;
    display: block;
    padding: 1rem 0;
}

input #btn1,
input #btn2 {
    background: #333333;
    border: none;
    color: #ff9900;
    padding: 0.5rem;
    display: block;
    margin-bottom: .5rem;
}

input#nm {
    background: #333333;
    border: none;
    color: #868686;
    padding: 0.5rem;
    display: block;
    margin-bottom: .5rem;
}

input#eml {
    background: #333333;
    border: none;
    color: #868686;
    padding: 0.5rem;
    display: block;
    margin-bottom: .5rem;
}

.Copyright {
    background-color: #000000;
    padding: 10px;
}

.Copyright p {
    color: #737373;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

/*Tablet View*/

@media (min-width:481px) {

    header h1 {
        padding: 1.813rem;
        display: inline-block;
        padding-right: 5rem;
    }

    header form {
        width: 50%;
        text-align: left;
        display: inline-block;
    }

    header form .searchWeb {
        width: 56%;
        display: inline-block;
    }

    header form .searchBtn {
        width: 41%;
        float: right;
        display: inline-block !important;
        padding: 0.65rem;
    }

    nput #btn1,
    input #btn2 {
        background-color: #ff9900;
        color: #ffffff;
        padding: 0.65rem;
    }

    .right figure {
        width: 48%;
        display: inline-block;
    }

    footer ul li {
        width: 48%;
        display: inline-block;
        margin-bottom: 1rem;
    }

    footer ul li p {
        width: 90%;
        padding: 0rem;
    }

}

/*Desktop View*/

@media (min-width:769px) {

    .TopBar .btn {
        display: none;
    }

    .TopBar nav {
        display: inline-block;
        width: 70%;
    }

    .TopBar nav ul {
        list-style-type: none;
    }

    .TopBar nav ul li {
        display: inline-block;
        padding: 0.8rem 1.2rem 0;
        border-right: 1px solid #b8b8b8;
    }

    .TopBar nav ul li:last-child {
        border-right: none;
    }

    .TopBar nav ul li a {
        text-decoration: none;
        color: #b8b8b8;
        font-size: 1rem;
    }

    .TopBar nav ul li a:hover {
        color: #ff9900;
    }

    .socialIcons {
        margin-right: 3rem;
        margin-top: 0.5rem;
    }

    header form {
        width: 50%;
        float: right;
        display: inline-block;
        margin-top: 2.2rem;
        margin-right: 2rem;
    }

    .Shout {
        border-bottom: 1px solid #e1e1e1;
    }

    .Intro {
        padding: 2rem;
    }

    .Intro .left {
        width: 40%;
        display: inline-block;
        margin-right: 5rem;
        float: left;
        margin-left: 2.5rem;
    }

    .left h2 {
        text-align: left;
    }

    .left p {
        text-align: justify;
        line-height: 1.5;
    }

    .Intro .right {
        width: 46%;
        display: inline-block;
    }

    .Intro .right h2 {
        text-align: left;
        padding-left: 0;
    }

    .left p {
        width: 439px;
    }

    .Intro .left p:first-child {
        padding-bottom: 4rem;
    }

    .Intro .right figure {
        width: 100%;
    }

    .Intro .right img {
        width: 20%;
        display: inline-block;
    }

    .Intro .right figure figcaption {
        width: 70%;
        display: inline-block;
        float: right;
        margin-right: 2rem;
    }

    .Intro .right figure figcaption h3 {
        padding: 1rem;
        text-align: left;
        padding-left: 0;
    }

    .Intro .right figure figcaption p {
        line-height: 1.5;
        text-align: left;
    }

    .Intro .left h3 {
        background: url(../assets/quotes.png) no-repeat;
        height: 46px;
        line-height: 46px;
        padding-left: 65px;
        text-align: left;
    }

    .Latest {
        text-align: center;
    }

    .Latest figure,
    .Latest div {
        display: inline-block;
        width: 20%;
    }

    .twitterSection {
        width: 97.8%;
    }

    .twitterSection p {
        padding: 4rem;

        padding-left: 15rem;
        background: #ffffff url(../assets/twitter.png) no-repeat 5% center;
    }

    footer ul {
        text-align: center;
    }

    footer ul li {
        width: 20%;
        display: inline-block;
        margin: 0 20px;
    }

    .Copyright {
        padding: 2rem;
    }

    .Copyright p:last-child {
        float: right;
    }

    .Copyright p:first-child {
        float: left;
    }

}
